body {
    font-family: 'Roboto Mono', monospace;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
        position: fixed;
        display: flex;
        top: 0;
        width: 100%;
        height: 10%;
        margin-bottom: 40px;
        background-color: #9BB0E5;
        justify-content: space-between;
        color: #ffffff;
        align-items: center;
        z-index: 1000;
    }

.titulo {
    font-size: 15px;
    font-weight: 700;
    padding-left: 3%;
}

.logo {
    padding-right: 3%;
    flex-shrink: 0;
}

.container {
    position: relative;
    display: flex;
}

.mapa {
    margin-top: 6%;
    padding-left: 8%;
}

.circles,
.subtitles{
    padding-left: 6%;
    margin-top: 8%;
}


.subtitles {
    padding-left: 1%;
    color: #000;
    text-align: left;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.texto {
    margin-top: 8%;
    padding-left: 12%;
    color: #000;
    font-family: Roboto Mono;
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 13%;
    padding-top: 4%;
    padding-left: 5%;
}

.filter-text {
    align-self: flex-start;  
    color: rgba(0, 0, 0, 0.60);
    font-family: Roboto Mono;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    padding-left: 152px;
}

.links-dashboard {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
}

.links-dashboard a {
    position: relative; 
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 10px; 
    background-color: #0047FF; 
    opacity: 56%;
    width: 150px;
    height: 150px; 
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 71, 255, 0.56);
    color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    font-family: 'Roboto Mono', monospace; 
    font-size: 20px; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-shrink: 0;
}

.links-dashboard a .text-overlay {
    position: absolute; /* Set position to absolute */
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the text */
    color: #FFF;
    font-size: 12px; /* Adjust as needed */
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.links-dashboard:hover {
    color: lightblue;
    transition: color 0.3s ease;

}

.links-dashboard img {
    width: auto;
    height: 70%;
    margin-top: 10px; 
}


.footer {
    bottom: 0;
    height: 10%;
    margin-top: 15%;
    width: 100%;
    background-color: #9BB0E5;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto Mono;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer div {
    box-sizing: border-box;
    padding: 0 10px;
}

.footer p {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.footer .links {
    max-width: 33%;
    display: flex;
    justify-content: space-between;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.footer a:hover {
    color: #e0e0e0;
    transition: color 0.3s ease;
}

.about {
    text-align: left;
}

.contact {
    text-align: right;
}

@media screen and (max-width: 767px) {
    * {
        font-size: 12px;
    }
    
    header {
        height: 5%; /* Restaurando a altura para telas menores */
        margin-bottom: 20px; /* Ajustando a margem inferior */
    }

    body {
        padding-top: 25px;
    }

    .mapa,
    .circles,
    .subtitles,
    .texto,
    .filter,
    .links-dashboard {
        padding-left: 3%; /* Reduzindo o padding para telas menores */
    }

    .filter-text {
        padding-left: 20px; /* Ajustando o padding */
    }

    .links-dashboard a {
        width: 100px; /* Ajustando a largura para ocupar menos espaço */
        height: 100px; /* Ajustando a altura para ocupar menos espaço */
        font-size: 14px; /* Reduzindo o tamanho da fonte para telas menores */
    }

    .footer {
        height: 5%; /* Restaurando a altura para telas menores */
        margin-top: 20%; /* Ajustando a margem superior */
        padding: 10px; /* Ajustando o padding */
    }
}

@media screen and (min-width: 1366px) {
    header {
        height: 10%; /* Aumentando a altura para telas maiores */
        margin-bottom: 40px; /* Ajustando a margem inferior */
    }

    .mapa,
    .circles,
    .subtitles,
    .texto,
    .filter,
    .links-dashboard {
        padding-left: 5%; /* Aumentando o padding para telas maiores */
    }

    .filter-text {
        padding-left: 152px; /* Aumentando o padding */
    }

    .links-dashboard a {
        width: 200px; /* Aumentando a largura para ocupar mais espaço */
        height: 200px; /* Aumentando a altura para ocupar mais espaço */
        font-size: 28px; /* Aumentando o tamanho da fonte para telas maiores */
    }

    .footer {
        height: 10%; /* Aumentando a altura para telas maiores */
        margin-top: 4%; /* Ajustando a margem superior */
        padding: 30px; /* Aumentando o padding */
    }
}
